<section class="page-section" id="contact">
  <div class="container">

    <!-- Contact Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 breakAfter">Contact me<br/><br/></h2>
    <div class="row justify-content-center">
      <div class="col-lg-8 mb-3">
        <h4 class="text-secondary">Email: <a href="mailto:dragoiuraul2009@gmail.com"> dragoiuraul2009@gmail.com </a>
        </h4>
        <h4 class="text-secondary">Phone number: <a href="tel:+40 757393378">+40 757393378 </a></h4>
      </div>
    </div>

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">OR <br/><br/></h2>
    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Contact Section Form -->
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <form [formGroup]="emailForm">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Subject</label>
              <input class="form-control" id="subject" type="text" placeholder="Subject" required="required"
                     data-validation-required-message="Please enter a subject." formControlName="subject"
                     name="subject">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Email Address</label>
              <input class="form-control" id="email" type="email" placeholder="Email Address" required="required"
                     data-validation-required-message="Please enter your email address." formControlName="email"
                     name="email">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Message</label>
              <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required"
                        data-validation-required-message="Please enter a message." formControlName="message"
                        name="message"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div class="alert alert-danger" *ngIf="isFormInvalid" role="alert">
            This is a danger alert—check it out!
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton" (click)="onSubmit()">
              SEND
              <div *ngIf="isLoading" class="d-inline-block loader"></div>
            </button>
          </div>
        </form>

      </div>
    </div>

  </div>
</section>
