<section class="section--projects">
  <div class="row justify-content-center mt-3">
    <div class="card">
      <img src="/assets/sabrosu.png" class="card-img-top" alt="sabrosu">
      <div class="card-body card-body--padding">
        <h3 class="card-title text-center mt-1 mb-3">Co-founder Sabrosu</h3>
        <p class="card-text text-justify">Revolutionizing food industry by facilitating smart access to chefs and their
          food. You would like to order a burger, or the whole burger menu? What about hiring the chef for whole night.
          Sabrosu facilitates the platform where chefs can post their food and create their on profile. Next step, just
          the customers.</p>
        <p class="card-text text-justify">I am the architect behind the
          backend services and in charge with designing and developing work flows for a happy user journey.</p>
        <p class="card-text text-justify">I started this project in a team of three with my good friend Andy Radulescu
          and a really good business guy Gabriel Lupu.</p>
        <div class="row justify-content-between">
          <a href="http://sabrosu.com" target="_blank" class="btn btn-dark">TO THE WEBSITE</a>
          <div class="">
            <span>Co-founders:</span>
            <a href="https://andyradulescu.github.io/personal-website/" target="_blank">
              <img src="assets/andy.jpg"
                   class="card__img--position ml-1"
                   triggers="mouseenter:mouseleave"
                   ngbPopover="Full stack developer"
                   popoverTitle="Andy Radulescu">
            </a>
            <img src="assets/gabi.jpg" class="card__img--position ml-1" triggers="mouseenter:mouseleave"
                 ngbPopover="Full stack developer & business analyst" popoverTitle="Gabriel Lupu">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
