<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

    <!-- Icon Divider -->
    <app-divider-custom [color]="'#fff'"></app-divider-custom>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Programming for me is a way of expressing art by developing applications as well as possible.
          Furthermore, I like to think of myself as an asset in any team. In terms of technical skills, I always like to
          try new stuff and I enjoy keeping myself up to date with new technologies.
        </p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">I am a fullstack backend developer with industry experience building solutions for web
          applications. I specialize in Java (Spring) and I have professional experience working with Javascirpt,
          Nest.js and Angular. </p>
      </div>
    </div>

    <!-- About Section Button -->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light"
         href="https://drive.google.com/file/d/1cnavESm-xJqnHdtOLEU39MV3pQ3Yo-rp/view?usp=sharing" target="_blank">
        GET MY CV
      </a>
    </div>

  </div>
</section>
