.page-section {
  padding: 6rem 0;
}

.text-white {
  color: #fff !important;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

.bg-primary {
  background-color: #1abc9c !important;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  border: .125rem solid transparent;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
  transition: 0.2s;

  &:hover {
    color: #333;
    transition: 0.2s;
  }
}
