<footer class="footer text-center">
  <div class="container">
    <div class="row">

      <!-- Footer Location -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0"> Austria,
          <br>Vienna</p>
      </div>

      <!-- Footer Social Icons -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a class="" href="https://www.facebook.com/RaulDrrr" target="_blank">
          <img class=" btn-social mx-1" [src]="facebookImgSrc" (mouseover)="onMouseOver('facebook')" (mouseout)="onMouseOut('facebook')" height="50px" width="50px">
        </a>
        <a class="" href="https://www.instagram.com/rauldragoiu/?hl=en" (mouseover)="onMouseOver('instagram')" (mouseout)="onMouseOut('instagram')" target="_blank">
          <img class=" btn-social mx-1" [src]="instagramImgSrc" height="50px" width="50px">
        </a>
        <a class="" href="https://www.linkedin.com/in/raul-dragoiu-7a3936138/" (mouseover)="onMouseOver('linkedin')" (mouseout)="onMouseOut('linkedin')" target="_blank">
          <img class=" btn-social mx-1" [src]="linkedinImgSrc" height="50px" width="50px">
        </a>
        <a href="https://github.com/RaulDr" (mouseover)="onMouseOver('github')" (mouseout)="onMouseOut('github')" target="_blank">
          <img class=" btn-social mx-1" [src]="githubImgSrc" height="50px" width="50px">
        </a>
      </div>

      <!-- Footer About Text -->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About Freelancer</h4>
        <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by
          <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
      </div>

    </div>
  </div>
</footer>

<section class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright © Your Website 2019</small>
  </div>
</section>
