.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.mb-0, .my-0 {
  margin-bottom: 0!important;
}

a {
  color: #1abc9c;
  text-decoration: none;
  background-color: transparent;
}

.copyright {
  background-color: #1a252f;
}
